* {
    padding: 0;
    margin: 0;
}

.navbarContainer{
    background-color: rgb(57, 56, 56);
    color: white;
    overflow: hidden;
}

.navbarContainer nav{
    max-width: 70%;
    margin: auto;
}

.navbarContainer nav h1{
    float: left;
    padding: 15px;
    font-weight: bold;
    font-size: x-large;
}

.navbarContainer nav ul{
    float: right;
}

.navbarContainer nav ul li{
    display: inline-block;
}

.navbarContainer nav ul li a{
    padding: 19px;
    display: block;
    list-style: none;
    font-size: large;
    text-decoration: none;
    color: white;
}

.navbarContainer nav ul li a:hover{
    background-color: rgb(142, 139, 139);
    color: rgb(230, 119, 50);
}


.hero{
    background-image: url(./assets/showcase.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 650px;
}

.hero .heroContent{
    max-width: 70%;
    margin: auto;
    padding-top: 200px;
    text-align: center;
}

.hero .heroContent h1{
    font-size: 55px;
    color:white;
    padding-bottom: 25px;
}
.hero .heroContent h1 span{
    color:rgb(234, 158, 103)
}

.hero .heroContent p{
    color:white;
    padding-bottom: 25px;
}

.hero .heroContent button{
    background-color: rgb(57, 56, 56);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}